.app {
  display: grid;
  place-content: center;
  height: 100%;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@mixin tile {
  display: flex;
  width: 10vh;
  height: 10vh;
}

@mixin piece-image {
  img {
    margin: auto;
    width: 9vh;
    height: 9vh;
  }
}

@mixin button-generic {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  &:active {
    background-color: #3e8e41;
  }
}

.promotion-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: white;
  /* Ensure popup is on top of other elements */
}

.promotion-options {
  display: flex;
  color: white;
  justify-content: space-around;
  margin: 10px;

  button {
    padding: 5px 24px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
}

// App.scss

.landingpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  overflow: hidden;

  h1 {
    color: white;
  }

  h4 {
    color: white;
    padding: 0px;
    margin: 0px;
  }

  button {
    @include button-generic();
    width: 30vh;
  }
}

.game-screen {
  display: flex;
  height: 100%;
  overflow: hidden;

  .playingfield {
    padding: 20px;
    width: 80%;
    
    .chessboard {
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(8, 10vh);
      grid-template-rows: repeat(8, 10vh);
      width: 80vh;
      height: 80vh;
    
      #black {
        background-color: rgb(112, 102, 119);
        color: white;
        @include tile();
        @include piece-image();
      }
    
      #white {
        background-color: rgb(204, 183, 174);
        color: black;
        @include tile();
        @include piece-image();
      }
    }

    .turn {
      color: white;
      text-align: center;
    }
  }

  .moves {
    color: white;
    width: 20%;
    padding: 10px;
    border-left: 1px solid #ccc;
    
    .move-container {
      display: grid;
      grid-template-columns: auto auto;
    }

    button {
      width: 100%;
      @include button-generic()
    }

    h2 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  }
}